{% extends 'base.html' %}

{% block content %}
	<div class="content-section">
		<h1 style="margin: auto; text-align: center;"> Potentially Infected Users </h1>
        <table style="width: 100%; margin-top: 10px;">
            {% if users %}
                <tr class="table-header border-bottom">
                    <th>Name</th>
                </tr>
                {% for user in users %}
        	        <tr>
        				<td>{{ user.first_name }} {{ user.last_name }}</td>
        			</tr>
                {% endfor %} 
            {% endif %}
        </table>
    <div>
{% endblock %}